<!DOCTYPE html>
<html>
  <head>
    <title>Cafeteria Management App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1 style="background-color:#458B00; color:white;">Fresh Eats</h1>
    <%= yield %>

  <p style="margin-bottom: 300px;">
  <p style="font-size: 12px; color: gray;">FreshEats App (c) Freshworks</p>
  </body>
</html>
